body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://kartinki.pics/uploads/posts/2021-04/thumbs/1617584993_2-p-fon-dlya-saita-temnii-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 кнопки в ряд */
  gap: 24px;
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

.btn-home {
  width: 100%; /* кнопка на всю ширину картки */
  height: 80px; /* робимо вищою */
  padding: 20px;
  background: linear-gradient(135deg, #fbff00, #ffbb00);
  color: #000000;
  border: none;
  border-radius: 16px;
  font-weight: 700;
  font-size: 20px; /* більший текст */
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.btn-home:hover {
  background: linear-gradient(
    135deg,
    #4d4d4d,
    #f70000
  ); /* міняємо напрямок градієнта при ховері */
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.btn-home:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.module-card {
  text-align: center;
}

.module-title {
  margin-top: 12px;
  font-size: 16px;
}
